	html {

background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-03/1614723909_150-p-foni-dlya-literaturi-182.jpg);

background-repeat: no-repeat;

background-position: center center;

background-attachment: fixed;

-webkit-background-size: cover;

-moz-background-size: cover;

-o-background-size: cover;

background-size: cover;

}

textarea{
 resize: none; 
 wrap: off;
 padding: 2%;
  background-color: #fccb9a;
  border: 3px solid #631010;
  border-radius: 30px;


  text-align: center;
  font-family: 'Arial';
  font-size: 40px;
  color: #000000;
}
#teext{
transform: rotate(-7deg);

}

#vt{
transform: rotate(7deg);

}
#perev{
	position: relative;
	height: 30vh;
	size: cover;
  border-radius: 7px;

}

h1{
word-break: break-all;
font-family: Courier, sans-serif; 
font-style: normal;
font-weight: 600;
  font-size: 56pt;
  color: black;
  margin:5%;
  text-align: center;
}
h2{
    font-family: Verdana;
  font-size: 30px;
  color: #1f2907;
  margin:5%;
  text-align: center;
}
.go{
margin: 0 20px;
position: relative;
height: 100%;
width: 100%;
}

@media (min-width: 100px) and (max-width: 1000px) { 
#perev{
height: 10vh;}
textarea{
height: 20vh;
width: 60vw;
}
.bi {
	margin: 0 15%;
}
#teext{
transform: rotate(0deg);
}
#perev{
	transform: rotate(0deg);
	margin: 5% 0;
	left: calc(45% - 43px);
}
#vt{
transform: rotate(-0deg);

}
}


@media (min-width: 1000px) and (max-width: 6200px) { 
#perev{
height: 30vh;}
textarea{
height: 50vh;
}
.bi {
	position: absolute;
}
.bit{
	left: 37%;
}
.bith{
	left: 66%;
}
}
